/*----------Mailchimp Style 1----------*/

.iteck-mc4wp {
	&.one-block {
		.mc4wp-form-fields {
			display: flex;

			input[type=email] {
				background: #1f1f1f;
				color: #fff;
				font-size: 12px;
				border: 0;

				&::placeholder {
					color: #fff;
				}

				position: relative;
				flex: 1 1 auto;
				width: 1%;
				min-width: 0;
				padding: 0.375rem 0.75rem;
				border-radius: 0.25rem;
				transition: border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				font-weight: 400;
				line-height: 1.5;
			}

			button[type=submit] {
				margin-left: -1px;
				border-radius: 0.25rem;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				position: relative;
				z-index: 2;
				padding: 12px 30px;
				position: relative;
				overflow: hidden;
				text-align: center;
				color: #fff;
				padding-right: 1rem;
				padding-left: 1rem;
				border: 0;

				&::before {
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					width: 150%;
					height: 100%;
					z-index: 1;
					background: -webkit-gradient(linear, left top, right top, color-stop(10%, #0c3df4), color-stop(45%, #02b5ff), color-stop(#02b5ff), to(#0c3df4));
					background: -webkit-linear-gradient(left, #0c3df4 10%, #02b5ff 45%, #02b5ff, #0c3df4);
					background: -o-linear-gradient(left, #0c3df4 10%, #02b5ff 45%, #02b5ff, #0c3df4);
					background: linear-gradient(to right, #0c3df4 10%, #02b5ff 45%, #02b5ff, #0c3df4);
					-webkit-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
					z-index: -1;
				}

				&:hover::before {
					left: -50%;
				}
			}
		}
	}

	&.button-inside {
		position: relative;

		.icon {
			position: absolute;
			top: 12px;
			left: 15px;
		}

		input {
			width: 100%;
			border: 1px solid #9993;
			border-radius: 30px;
			min-height: 45px;
			font-size: 12px;
			padding: 0 40px;
		}

		button {
			position: absolute;
			right: 5px;
			top: 5px;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background-color: var(--color-blue6);
			border: 0;
			color: #fff;
		}
	}
	

	&.button-in-row {

		.icon {
			position: absolute;
			top: 15px;
			left: 15px;
			color: #000;
		}

		input {
			width: 100%;
			border: 1px solid #fff;
			border-radius: 30px;
			min-height: 45px;
			font-size: 12px;
			padding: 15px 15px 15px 40px;
			font-size: 14px;
			&::placeholder {
				color: #999;
			}
		}

		button {
			padding: 12px 30px;
			position: relative;
			width: 100%;
			margin-top: 20px;
			border: 1px solid;
			background-color: var(--color-main);
    		border-color: var(--color-main);
			border-radius: 50rem;
			color: #fff;
			transition: all 0.3s ease;
			font-size: 14px;
			font-weight: 500;
			i {
				margin-left: 8px;
			}
			&:hover {
				box-shadow: 0 5px 10px #0003;
			}
		}

	}
}